* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home,
.details-pay,
.products-section,
.acessories,
.fones,
.suport {
  width: 70%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  scroll-behavior: smooth;
  margin-bottom: 30px;

  h1 {
    font-size: 3rem;
    color: $zinc-normal;
  }

  .content {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
      font-weight: 300;
      margin-left: 5px;
      color: $zinc-normal;
    }
  }

  .cards {
    display: flex;
    margin-top: 100px;
  }

  .card {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;

    p {
      font-size: 0.9rem;
    }

    p:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .card img {
    width: 70%;
    object-fit: cover;
  }

  .img-content {
    width: 380px;
    height: 480px;
    background-color: $white-light;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: max-content;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .desc-img {
    min-width: 200px;
    display: block;
    position: absolute;
    padding: 25px;
    z-index: 100;
    color: $white-dark;

    p {
      font-size: 1rem;
      color: $white-dark;
      margin-bottom: 20px;
    }

    span {
      position: absolute;
      bottom: 0px;
    }
  }
}

.details-pay {
  justify-content: start;
  gap: 25px;
  div {
    width: 350px;
    height: 270px;
    padding: 40px;
    border-radius: 20px;
    background-color: $white-light;
    box-shadow: 0px 0px 10px 1px rgba(224, 224, 224, 0.658);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 10px 3px rgba(160, 160, 160, 0.356);
      transform: scale(1.01);
    }
  }
  h1 {
    color: $primary-dark;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .details-pay {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1568px) {
  .home {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .content {
      h1 {
        width: 80%;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, auto);
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        text-align: center;
      }
    }

    .img-content {
      width: 350px;
      height: 450px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.products-section {
  flex-direction: column;

  .products {
    display: flex;
    margin-top: 30px;
    gap: 70px;
  }

  .product {
    width: 400px;
    height: 500px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px rgb(177, 177, 177);
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 1px 1px 15px 3px rgb(177, 177, 177);
    }
  }
}

@media screen and (max-width: 1568px) {
  .products-section {
    width: 80%;
    justify-content: start;

    .product {
      width: 300px;
      height: 400px;

      h2 {
        width: 250px;
        font-size: 1.4rem;
      }
      span {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .products-section {
    width: 100%;

    .content {
      h1,
      p {
        margin-left: 20px;
      }
    }

    .product {
      width: 90%;

      img {
        width: 100%;
      }
    }
  }
  .products {
    flex-direction: column;
    align-items: center;
  }

  .slideshow-container {
    display: flex;
    justify-content: center;
  }
}

.acessories,
.fones {
  flex-direction: column;

  .acessorie,
  .fone {
    width: 390px;
    height: 490px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
  }

  .listall {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .desc-img {
    width: 400px;
  }

  .list-acess {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $white-light;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.068);
    cursor: pointer;

    span {
      font-size: 0.9rem;
      font-weight: 300;
      color: $red-normal;
    }

    h3 {
      font-weight: 600;
      font-size: 1.1rem;
      width: 280px;
      min-height: 100px;
    }

    p {
      width: 100%;
      font-size: 0.9rem;
      text-align: left;
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.151);
    }
  }

  .carousel-container {
    width: 75%;
    padding: 10px;
    overflow: hidden;
    position: relative;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }

  .list-acess {
    flex: 0 0 auto;
    margin-right: 30px;
  }

  .prev,
  .next {
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    border: none;
    border-radius: 20px;
    z-index: 1000;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .img-list {
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1568px) {
  .acessories,
  .fones {
    width: 80%;
    justify-content: start;

    .content {
      h1,
      p {
        margin-left: 20px;
      }
    }
  }
  .listall {
    .list-acess {
      width: 250px;

      span,
      h3,
      p {
        margin-left: 10px;
      }
      span {
        font-size: 0.7rem;
      }

      h3 {
        font-size: 0.8rem;
        width: 200px;
      }

      p {
        margin-top: 10px;
        width: max-content;
        font-size: 0.9rem;
        text-align: justify;
      }
    }
    .img-list {
      width: 290px;
      height: 290px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 250px;
        height: 250px;
      }
    }

    .carousel-container {
      width: 70%;
    }
  }
}

@media screen and (max-width: 768px) {
  .acessories,
  .fones {
    width: 100%;
    flex-direction: column;

    .acessorie,
    .fone {
      width: 370px;
      height: 470px;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      overflow: hidden;
    }
  }

  .listall {
    flex-direction: column;

    .list-acess {
      width: 200px;
      height: 370px;

      span,
      h3,
      p {
        margin-left: 10px;
      }
      span {
        font-size: 0.7rem;
      }

      h3 {
        font-size: 0.8rem;
        width: 200px;
      }

      p {
        margin-top: 10px;
        width: 100%;
        font-size: 0.9rem;
      }
    }
    .img-list {
      width: 200px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 200px;
        height: 200px;
      }
    }

    .carousel-container {
      width: 95%;
    }
  }
}

.suport {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;

  .cards-suport {
    display: flex;
    gap: 25px;
    div {
      width: 350px;
      height: 270px;
      padding: 40px;
      border-radius: 20px;
      background-color: $white-light;
      box-shadow: 0px 0px 10px 1px rgba(224, 224, 224, 0.658);
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 10px 3px rgba(160, 160, 160, 0.356);
        transform: scale(1.01);
      }
    }
    h1 {
      color: $primary-dark;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .summarys h1 {
    font-size: 1.3rem;
  }

  .summary-container {
    display: flex;
    gap: 150px;
    align-items: center;
  }

  .summary-content {
    width: 550px;
    height: max-content;
    padding: 25px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: $white-light;

    details {
      font-size: 1.1rem;
      padding: 10px;
      transition: all 0.3s ease-in;
      cursor: pointer;
    }

    details p {
      width: 500px;
      font-size: 0.9rem;
      padding: 20px;
    }

    details {
      overflow: hidden;
      max-height: 70px;
      transition: max-height 0.5s ease-in-out, opacity 0.3s ease-out;
    }

    details[open] {
      max-height: 300px;
      opacity: 1;
    }
  }

  .img-suport {
    img {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1568px) {
  .suport {
    width: 80%;

    
  }
}
@media screen and (max-width: 768px) {
  .suport {
    width: 90%;

    .cards-suport {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .summary-container {
      display: flex;
      flex-direction: column;

      .summary-content {
        width: 370px;
        justify-content: center;

        details {
          max-height: 65px;
          transition: max-height 1s ease-in-out, opacity 0.3s ease-out;
          summary {
            font-size: 1rem;
          }
          p {
            padding: 5px;
            width: 310px;
            color: $zinc-normal;
          }
        }

        details[open] {
          max-height: 400px;
          opacity: 1;

          p {
            border-bottom: 1px solid rgba(0, 0, 0, 0.13);
          }
        }
      }
      .img-suport {
        img {
          width: 100%;
        }
      }
    }
  }
}

.icon {
  color: $green-light;
  font-size: 3rem;
}
